---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import ProductsSection from '../components/ProductsSection.astro';
import ContactSection from '../components/ContactSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Cajipets - Queques y snacks para mascotas">
  <Header />
  <main>
    <HeroSection />
    <ProductsSection />
    <ContactSection />
    <TestimonialsSection />
  </main>
  <Footer />
</Layout>